<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome <%= user %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p class="title">BlockMusic</p>
    <div class="container">
      <fieldset>
          <% if(success) {%>
        <form action="/getSong" method="post">
          <input name="song" type="text" class="ghost-input" placeholder="Enter the name of the song" required>
          <input type="submit" class="ghost-button" value="Get Song">
        </form>
        <% if(results !== null){ %>
            </br>
            <p> Results shown for the query : <%= song %></p>
        </br>
            <table style="width:100%">
            <tr>
              <th>NAME</th>
              <th>ARTIST</th>
              <th>COST</th>
            </tr>
                <% results.forEach(function(r){ console.log(r);%>
                    <form action = "/buy" method="post">
                    <td> <%- r.name %> </td>
                    <td > <%- r.artist %> </td>
                    <td > <%- r.cost %> </td>
                    <input type = "hidden" name="sender" value =  "<%= user %>">
                    <input type = "hidden" name="recipient" value = "<%= r.artist %>">
                    <input type = "hidden" name="amount" value =  <%= r.cost %>>
                    <td><input type="submit" value = "Buy this"></td>
                <% }); %>
          </table>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
        <% }else if(!success){ %>
            <% if(message.length){ %>
                <script>alert("<%= message %>");</script>
            <% } %>
            <div class="container">
	        <section id="content">
        		<form action="/userLogin" method = "post">
        			<h1>Login Form</h1>
        			<div>
        				<h3>Username: </h3><input type="text" placeholder="Username" name="name" />
        			</div>
        			<div>
        				<h3>Password: </h3><input type="password" placeholder="Password" name="password" />
        			</div>
        			<div>
        				<input type="submit" value="Enter" />
        			</div>
        		</form>

	        </section>
            </div>
            <% } %>
      </fieldset>
    </div>
  </body>
</html>
